@import "../../common/scss/_export";

.general-view {
    display: flex;
    justify-content: space-around;

    .col-1 {
        width: 468px;
    }

    .col-2 {
        width: 930px;
    }

    .col-3 {
        width: 466px;
    }

    .row-1,
    .row-2,
    .last-row {
        height: 300px;
    }

    .client-map-block{
        height: 504px;
    } 
    .view-block {
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .intro-block {
        p {
            font-size: 18px;
            line-height: 1.7;
            text-indent: 2em;
            text-align: left;
            color: white;
        }
    }

    .data-list.view-block {
        padding: 0;
        background-color: transparent;

        .view-block-content {
            padding: 0;
        }
    }
}